<h1>Places</h1>

<table border=1>
  <thead>
    <tr>
      <th>Places</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.city %></td>
        <td><%= map.latitude %></td>
        <td><%= map.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map', new_map_path %> |
<%= link_to "View Tickets", tickets_path %>
