<h3> Customer Details </h3>
Email : <%= @customer.email %><br/>
Mobile Number : <%= @customer.mobile_number %><br/>
Address : <%= @customer.address.street %><br/>
City : <%= @customer.address.city %><br/>
State : <%= @customer.address.state %><br/>
Bank Name : <%= @customer.bank_detail.bank_name %><br/>
Branch Name : <%= @customer.bank_detail.branch_name %><br/>
Account Number : <%= @customer.bank_detail.account_number %><br/>
Company Name : <%= @customer.employment_detail.company_name %><br/>
Location : <%= @customer.employment_detail.location %><br/>
Designation : <%= @customer.employment_detail.designation %><br/>
<br/><br/>
  
<%= link_to "Book ticket", new_ticket_path %>  |
<%= link_to "View Transaction History", tickets_path %>
<hr>
<%= link_to "Maps", new_map_path %>