<h3> Ticket Details </h3>

<strong>Journey Date : </strong> <%= @ticket.journey_date %><br/>
<strong>From Place : </strong> <%= @ticket.from_place %><br/>
<strong>To Place : </strong> <%= @ticket.to_place %><br/>
<strong>Booking Number : </strong> <%= @ticket.booking_number %>
<br/><br/>
<%= link_to "View Transactional History", tickets_path %>